<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome {{user}}!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Public APIs</ion-card-title>
        <ion-card-subtitle>List of APIs from public-apis project</ion-card-subtitle>
        
        <ion-card-content>
          <ion-list [inset]="true">
            <ion-item *ngFor="let item of data">
              <ion-label>{{item.API}}</ion-label>
            </ion-item>
          </ion-list>
          </ion-card-content>
      </ion-card-header>
    </ion-card>

    <ion-button (click)="alert()">Alert</ion-button>
    <ion-button (click)="toast()">Toast</ion-button>
    <ion-button (click)="dismissToast()">Dismiss Toast</ion-button>
    <ion-range min="0" max="100" [(ngModel)]="volume"></ion-range>

    <ion-button (click)="logout()">logout</ion-button>
  </div>
</ion-content>
