<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      KENCY PORTFOLIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">KENCY PORTFOLIO</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Galapia, John Kenneth A.</strong> <br>
    Act 9 test commit 7: with update prompt part 2
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <div class="content">
    <p class="image"><ion-img class="leona" src="assets/leona sketch wip 3 years.jpg"></ion-img></p>
    <div class="introduction">
      <h2>Hi! Welcome to my Developer Portfolio!</h2>
      Hi my name is John Kenneth Galapia
      <ion-img class="wanbywan" src="assets/kennethpitiknijian 1x1.jpg"></ion-img>
      I have experiences on making simple illustrations on digital or traditional. I like to make sketches
      I also have an understanding on some programming languages like JAVA and C#. I also recently exploring about networking.
      On the other hand, I also like to read books, exercising and especially playing sports and online games if invited to.
    </div>
    <div class="faq">
      <h2>Frequently Asked Questions</h2>
      <h3><strong>HOW DO YOU SEE YOURSELF IN 5 YRS?</strong></h3>
      <p>I see my self as someone that has a somehow stable work, but still honing my skills since I am a little bit a slow learner.</p>
      <h3><strong>WHAT IS YOUR STRENGTHS & WEAKNESS ON YOUR COURSE?</strong></h3>
      <p>My strengths are when I'm on the zone, I can make my code faster but once I am distracted, I'll hardly go back to where I left and my weakness is paper works, no explanation needed.</p>
      <h3><strong>WHAT IS YOUR MOTTO IN LIFE?</strong></h3>
      <p>"Always be the light to everyone's path", this motto is originally from my online friend which I considered my twin, non-biologically. The motto only states that whenever people are on their lowest
        or even if they're not in the lowest but still having a hard time to pass their challenges, always do help them even if there are no benefit for you. Laging tumulong sa kapwa.
      </p>
      <h3><strong>LOVE LANGUAGE MO? BAKIT?</strong></h3>
      <p>I think my love language are all of the 5 types especially when we're talking about my special someone. But I think the highest among all of them is Words of Affirmation.</p>
      <h3><strong>KUNG PAGKAIN KA ANO KA? BAKIT?</strong></h3>
      <p>Adobo kasi masarap at may toyo</p>
      <h3><strong>WHAT IS YOUR PET PEEVE IF ANY?</strong></h3>
      <p>I think my pet peeve is when I am when I'm eating my meal then they suddenly ask me to do something that I have to get up and leave the table. I think that's my pet peeve. :3</p>
    </div> <br>
    <div class="contact">
      You can contact me and follow me here on my social media accounts!
      <div class="icons">
        <a href="https://www.facebook.com/jkenneth78/"><ion-icon class="icon" name="logo-facebook" size="large"></ion-icon></a> 
        <a href="https://www.instagram.com/jkenneth_78/"><ion-icon class="icon" name="logo-instagram" size="large"></ion-icon></a>
        <a href="https://twitter.com/soul_keen"><ion-icon class="icon" name="logo-twitter" size="large"></ion-icon></a>
        <a href="https://github.com/kencysoul"><ion-icon class="icon" name="logo-github" size="large"></ion-icon></a>
      </div>
      <div (click)="logOut()">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>LOGOUT</ion-label>
      </div>
    </div>
    
  </div>

  
</ion-content>
