*{
  font-family: Helvetica, sans-serif;
}
body{
  padding: 0%; margin: 0%; background-color: black; color: white;
}

nav{
  background-color: rgb(21, 21, 21);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; 
  color: white;
  width: 100%;
}
nav .logo{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.links{
  display: flex;
  gap:16px;
  padding-right: 50px;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.introduction {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.content{
  padding-bottom: 37px;
}
.content a {
  color: var(--main-color);
  text-decoration: none;
  transition: text-decoration .10s;
}
.content a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.image{
  text-align: center;
}

ion-img {
  max-width: 100%;
  height: 440px;
}

.introduction{
  text-align: left;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}

//contact
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
  gap: 2rem;
}

.container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  border-radius: 50%;
  box-shadow: 0px 0px 19px 5px rgba(109, 109, 109, 0.6);;
}

.leona {
  max-width: 100%;
  height: auto;
}

.wanbywan {
  max-width: 300px;
  height: auto;
}

//mq
@media screen and (max-width:880px) {
  img{
    max-height: 70%;
    width: auto;
    transform: translateY(2.5rem);
  }
}
@media screen and (max-width:500px) {
  nav {
      flex-direction: column;
      height: 6rem;
  }
  .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0px;
  }
  .links{
      display: flex;
      gap:16px;
      padding-right: 0px;
      padding-bottom: 1rem;
  }
  ion-img{
    max-width: 35%;
    height: auto;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}