<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      KENCY CRUD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home CRUD</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="input">
      <ion-card>
        <ion-card-content>
          <ion-input
          [(ngModel)]="Shoes.name" label="Shoes Name" type="text" label-placement="floating">
          </ion-input>
          <ion-input
          [(ngModel)]="Shoes.brand" label="Shoes Brand" type="text" labelPlacement="floating">
          </ion-input>
          <ion-input
          [(ngModel)]="Shoes.size" label="Shoe Size" type="number" label-placement="floating">
          </ion-input>
          <ion-input
          [(ngModel)]="Shoes.price" label="Shoe Price" type="number" label-placement="floating">
          </ion-input>
          <ion-input
          [(ngModel)]="Shoes.quantity" label="Quantity" type="number" label-placement="floating">
          </ion-input>
        </ion-card-content>
      </ion-card>
      <div class="btn">
        <ion-button (click)="save()">SAVE</ion-button>
        <ion-button (click)="delete(Shoes)" color="danger" *ngIf="Shoes.id">DELETE</ion-button>
      </div>
    </div>
  
    <div class="list">
      <h1>SHOES LIST</h1>
      <div *ngIf="isLoading">
        {{LoadingText}}
      </div>
      <table *ngIf="isLoading == false">
        <thead>
          <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Size</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Shoes of shoesList">
            <td>{{Shoes.name}}</td>
            <td>{{Shoes.brand}}</td>
            <td>{{Shoes.size}}</td>
            <td>{{Shoes.price}}</td>
            <td>{{Shoes.quantity}}</td>
            <td><ion-button color="warning" (click)="edit(Shoes)" color="warning">EDIT</ion-button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="logOut">
      <ion-button (click)="logOut()">LOGOUT</ion-button>
    </div>
  </div>

</ion-content>
