*{
  font-family: Helvetica, sans-serif;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}